services:
  web:
    build: .
    ports:
      - "8090:80"
    volumes:
      - ./app:/usr/share/nginx/html/app
      - ./odas-config:/usr/share/nginx/html/odas-config
      - ./nginx.conf:/etc/nginx/nginx.conf

networks:
  default:
